@font-face {
    font-family: 'Integral CF';
    src: url("IntegralCF-Bold.otf");
}

body {
background-color: #1a1a1a;
}

#tis {
    font-family: 'Integral CF';
    color: white;
    margin-left: 15px;
    margin-top: 30px;
}

#sub {
 
    font-family: 'Integral CF';
    color: white;
    margin-left: 15px;
}

#cred {
    font-family: 'Integral CF';
    color: #9D50FF;
    font-size: 20px;
    margin-left: 15px;
    margin-top: -20px;
}

#muib {
    font-family: 'Integral CF';
    background-color: transparent;
    border-color: transparent;
    color: #cfcfcf;
    font-size: 15px;
    margin-left: 7px;
    margin-top: -10px;
}

.section {
    font-family: 'Inter';
    color: white;
    font-size: 18px;
    margin-left: 15px;
    font-style: italic;
    margin-top: 40px;
}

#footr {
    font-family: 'Inter';
    color: white;
    text-align: center;
}
